In [1]:
#Extract Features
 ##Features and target should not have null values
 ##Features should be numeric in nature
 ##Features should be of the type array/dataframes
 ##Features should have some rows and columns.

#Split the dataset into training and testing datasets
 ##Features should be on the same scale

#Train the model on the training dataset
#Test the moddel on the training dataset

In [2]:
import pandas as pd
df=pd.read_csv("Iris.csv")

In [3]:
df.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [4]:
df.Species.value_counts()

Iris-versicolor    50
Iris-setosa        50
Iris-virginica     50
Name: Species, dtype: int64

In [5]:
df.describe()

               Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
count  150.000000     150.000000    150.000000     150.000000    150.000000
mean    75.500000       5.843333      3.054000       3.758667      1.198667
std     43.445368       0.828066      0.433594       1.764420      0.763161
min      1.000000       4.300000      2.000000       1.000000      0.100000
25%     38.250000       5.100000      2.800000       1.600000      0.300000
50%     75.500000       5.800000      3.000000       4.350000      1.300000
75%    112.750000       6.400000      3.300000       5.100000      1.800000
max    150.000000       7.900000      4.400000       6.900000      2.500000

In [6]:
y=df["Species"]             #Target Variable

In [7]:
X=df.drop("Species",axis=1)

In [8]:
X.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
0   1            5.1           3.5            1.4           0.2
1   2            4.9           3.0            1.4           0.2
2   3            4.7           3.2            1.3           0.2
3   4            4.6           3.1            1.5           0.2
4   5            5.0           3.6            1.4           0.2

In [9]:
X=X.drop("Id",axis=1)

In [10]:
X.head()

   SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
0            5.1           3.5            1.4           0.2
1            4.9           3.0            1.4           0.2
2            4.7           3.2            1.3           0.2
3            4.6           3.1            1.5           0.2
4            5.0           3.6            1.4           0.2

In [11]:
X.isna().sum()

SepalLengthCm    0
SepalWidthCm     0
PetalLengthCm    0
PetalWidthCm     0
dtype: int64

In [12]:
X.dtypes

SepalLengthCm    float64
SepalWidthCm     float64
PetalLengthCm    float64
PetalWidthCm     float64
dtype: object

In [13]:
type(X)

pandas.core.frame.DataFrame

In [14]:
X.shape

(150, 4)

In [15]:
from sklearn.model_selection import train_test_split

In [16]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.3, random_state=42,stratify=y)

In [17]:
y_test.value_counts()

Iris-versicolor    15
Iris-setosa        15
Iris-virginica     15
Name: Species, dtype: int64

In [18]:
from sklearn.preprocessing import MinMaxScaler

In [19]:
scaler=MinMaxScaler()

In [20]:
X_train=scaler.fit_transform(X_train)

In [21]:
X_test=scaler.transform(X_test)

In [29]:
X_test

array([[ 0.83333333,  0.375     ,  0.89655172,  0.70833333],
       [ 0.5       ,  0.375     ,  0.62068966,  0.54166667],
       [ 0.55555556,  0.33333333,  0.68965517,  0.58333333],
       [ 0.55555556,  0.54166667,  0.62068966,  0.625     ],
       [ 0.5       ,  0.41666667,  0.65517241,  0.70833333],
       [ 0.66666667,  0.45833333,  0.77586207,  0.95833333],
       [ 0.33333333,  0.125     ,  0.5       ,  0.5       ],
       [ 0.36111111,  0.20833333,  0.48275862,  0.41666667],
       [ 0.30555556,  0.58333333,  0.10344828,  0.04166667],
       [ 0.72222222,  0.45833333,  0.68965517,  0.91666667],
       [ 0.41666667,  0.83333333,  0.01724138,  0.04166667],
       [ 0.02777778,  0.41666667,  0.03448276,  0.04166667],
       [ 0.66666667,  0.20833333,  0.81034483,  0.70833333],
       [ 0.61111111,  0.41666667,  0.75862069,  0.70833333],
       [ 0.25      ,  0.58333333,  0.05172414,  0.04166667],
       [ 0.52777778,  0.58333333,  0.74137931,  0.91666667],
       [ 0.16666667,  0.16666667,  0.37931034,  0.375     ],
       [ 0.30555556,  0.70833333,  0.06896552,  0.04166667],
       [ 0.22222222,  0.54166667,  0.10344828,  0.16666667],
       [ 0.38888889,  0.75      ,  0.10344828,  0.08333333],
       [ 0.52777778,  0.375     ,  0.55172414,  0.5       ],
       [ 0.19444444,  0.58333333,  0.06896552,  0.04166667],
       [ 0.63888889,  0.41666667,  0.56896552,  0.54166667],
       [ 0.61111111,  0.41666667,  0.81034483,  0.875     ],
       [ 0.47222222,  0.41666667,  0.63793103,  0.70833333],
       [ 0.58333333,  0.5       ,  0.5862069 ,  0.58333333],
       [ 0.30555556,  0.41666667,  0.5862069 ,  0.58333333],
       [ 0.19444444,  0.125     ,  0.37931034,  0.375     ],
       [ 0.36111111,  0.41666667,  0.5862069 ,  0.58333333],
       [ 0.19444444,  0.5       ,  0.01724138,  0.04166667],
       [ 0.5       ,  0.25      ,  0.77586207,  0.54166667],
       [ 0.58333333,  0.33333333,  0.77586207,  0.875     ],
       [ 0.47222222,  0.58333333,  0.5862069 ,  0.625     ],
       [ 0.19444444,  0.54166667,  0.05172414,  0.04166667],
       [ 0.58333333,  0.29166667,  0.72413793,  0.75      ],
       [ 0.19444444,  0.625     ,  0.03448276,  0.08333333],
       [ 0.02777778,  0.5       ,  0.03448276,  0.04166667],
       [ 0.11111111,  0.5       ,  0.03448276,  0.04166667],
       [ 0.19444444,  0.625     ,  0.0862069 ,  0.20833333],
       [ 0.66666667,  0.41666667,  0.67241379,  0.66666667],
       [ 0.38888889,  0.33333333,  0.5862069 ,  0.5       ],
       [ 0.08333333,  0.66666667, -0.01724138,  0.04166667],
       [ 0.16666667,  0.20833333,  0.5862069 ,  0.66666667],
       [ 0.61111111,  0.41666667,  0.70689655,  0.79166667],
       [ 0.63888889,  0.375     ,  0.60344828,  0.5       ]])

In [30]:
from sklearn.neighbors import KNeighborsClassifier

In [31]:
knn = KNeighborsClassifier(n_neighbors=5)

In [32]:
knn.fit(X_train,y_train)

KNeighborsClassifier()

In [34]:
knn.score(X_train,y_train)        ## To check Accuracy

0.9809523809523809

In [33]:
knn.score(X_test,y_test)          ##To check Accuracy

0.9333333333333333

In [35]:
### Accuracy is very good in Training and Testing both, so this model can be considered as a Best fit.